
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h2{
    font-family: "Playfair Display", serif;
    font-size: 200%;
    font-weight: 500;
    color: #2C2C2C;
    text-align: center;
    text-decoration: underline;
}

p{
    font-family: "Quicksand", sans-serif;
    color: #2C2C2C;
    font-size: 140%;
    line-height: 150%;
    font-weight: 300;
}

img{
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}

.intro{
    height: 100vh;
    width: 100%;
    margin: auto;
    background: url(https://static.pexels.com/photos/248159/pexels-photo-248159.jpeg) no-repeat 50% 50%;
    background-size: cover;
    display: table;
    top: 0;
}

.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}

.content{
    max-width: 600px;
    margin: auto;
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 300%;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 2%;
    text-shadow: 0px 0px 250px 250px;
}

.content p{
    color: #fff;
}

.inner{
    max-width: 600px;
    margin: auto;
    font-size: 170%;
    line-height: 1.6;
    padding: 10px;
}

/*start nav*/

nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 130px;
    
}

nav ul li{
    list-style: none;
    margin-top: 25px;
}

a{
    text-decoration: none;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    color: #fff;
}

*,

*::after
*::before{
    box-sizing: border-box;
}

:root{
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --forground: white;
    --background: #333;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2); 
}

.hamburger-menu{
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    margin-left: 32px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible{
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--forground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--forground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), 
        width var(--animation-timing), rotate var(--animation-timing), 
        translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked{
    opacity: 0;
    width: 0;
}


.sidebar{
    transition: translate var(--animation-timing);
    translate: -100%;
    margin-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    color: var(--forground);
    max-width: 10rem;
    min-height: 50vh;
    z-index: 99;
}

.hamburger-menu:has(input:checked) + .sidebar{
    translate: 0;
}

.left-col-1{
    width: 40%;
    float: left;
    margin: 4% 0 4% 4%;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 15%;
}

.me{
    width: 36%;
    float: left;
    margin: 4%;
}

.girl-car{
    height: 275px;
    width: 250px;
    margin-top: 20px;
    margin-left: 17%;
}

.my-port{
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 30%;
    
}

.one-third-port{
    width: 50%;
    height: 250px;
    margin-left: 30%;
    
}

.port-img{
    width: 250px;
    height: 200px;
    margin-top: 3%;
    margin-right: 3%;
}

.clearfix{
    clear: both;
    height: 3%;
}

.left-col-2{
    width: 30%;
    float: left;
    margin: 4% 0 4% 4%;
    font-size: 14px;
    margin-top: 20%;
    margin-left: 15%;
}

.sidebar-2{
    width: 30%;
    margin-top: 20%;
    float: right;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin-right: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}